.menu {
  background-color: $white;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 40;
  width: 100%;
  align-items: center;
}

.logo {
  p {
    cursor: pointer;
    font-size: 40px;
    font-weight: 900;
  }
}
